* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #faccef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #3c1031;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #f8f0f7;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 10px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #b5539c;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  margin-right: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  color: #3c1031;
}

.todo-input::placeholder {
  color: #0200004d;
}

.todo-btn {
  background: #b5539c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #dfd1dc;
  color: #b5539c;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 